#files provided by yahboom
/01_random_move.py
/02_set_pose_plan.py
/03_set_joint_plan.py
/04_cartesian.py
/05_attached_object.py
/06_set_Scene.py

/get_joint_states.py
/ik_validation.py
/ik_validation_numbers.txt
/set_pose.py

/sync_plan.py
/sync_plan_gripper.py
/sync_plan_origin.py
