<launch>

    <!-- Include robotic arm Launch file -->
    <include file="$(find jetcobot_moveit)/launch/jetcobot_moveit.launch" />    

    <!-- Include the camera Launch file -->
    <include file="$(find orbbec_camera)/launch/gemini.launch" />
    <include file="$(find orbbec_camera)/launch/orbbec_camera.launch"/>

    <!-- Run the physical robot control node -->
    <node pkg="jetcobot_moveit" type="sync_plan.py" name="mycobot_reciver" output="screen" launch-prefix="python3" />
        
    <!-- KCF Tracker -->
    <node name="KCF_Tracker" pkg="astra_tracker" type="KCFTracker_node" output="screen" respawn="true"/>

</launch>


